/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/main'

#navigation
  background-color: transparent
  z-index: 3 // bring the navbar over the pictures

.selected-toolbar-item
  border-bottom: thick
  border-bottom-color: #bd6f00